extends layout

block content
  h1= title
  nav   
    a(href="https://github.com/jw287962/smoothdining_API") Github
    a(href="./docs") Docs
  p Welcome to #{title}
  p Details available on my 
    a(href="https://github.com/jw287962/smoothdining_API") Github 
  
